@import '../abstracts/variables';

.form-button1 {
  margin: 20px 0;
  padding: 10px 10px;
  border: none;
  background-color: $color-3;
  color: $color-8;
  cursor: pointer;
  &:hover {
    background-color: $color-3dark;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.section-button1 {
  border: none;
  padding: 10px;
  background-color: $color-13;
  color: $color-8;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background-color: $color-10;
  }
}
