@import '../abstracts/variables';
@import '../abstracts/mixins';

.cart {
	.cart-wrapper {
		padding: 20px;

		h1 {
			font-weight: 400;
			text-align: center;
		}

		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 20px;

			button {
				padding: 10px;
				font-weight: 600;
				cursor: pointer;
				background-color: transparent;
			}

			.button-filled {
				color: $color-8;
				background-color: $color-black;
			}

			.top-texts {

				.top-text {
					cursor: pointer;
					margin: 0 10px;

					&:hover {
						text-decoration: underline;
					}
					
				}
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;

			.info {
				flex:3;

				hr {
					background-color: #eee;;
					border: none;
					height: 1px;
				}
				.product {
					display: flex;
					justify-content: space-between;
					.product-detail {
						flex: 2;
						display: flex;
						img {
							width: 100px;
						}
						.details {
							display: flex;
							flex-direction: column;
							justify-content: space-around;
							padding-left: 10px;
							.product-name {

							}
							.product-id {

							}
							.product-color {
								width: 20px;
								height: 20px;
								border-radius: 50%;
								@include product-color-base;
							}
							.product-size {
								
							}
						}
					}
					.price-detail {
						flex:1;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-direction: column;

						.product-amount-container {
							display: flex;
							align-items: center;
							margin-bottom: 20px;
							.product-amount {
								font-size: 24px;
								margin: 5px;
							}
						}

						.product-price {
							font-size: 30px;
							font-weight: 200;
						}
					}
					.cart-item-action {
						padding-top: 1rem;
						padding-right: 2rem;
						.remove-cart-item {
							&:hover {
								cursor: pointer;
								color: red;
							}
						}
					}
				}
			}

			.summary {
				flex:1;
				border: 0.5px solid $color-5;
				border-radius: 10px;;
				height: 50vh;
				padding: 15px;

				.summarry-title {
					font-weight: 200;
				}
				.summary-item {
					margin: 30px 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.summary-item-text {

					}

					.summary-item-price {

					}
				}
				button {
					width: 100%;
					padding: 10px;
					background-color: $color-black;
					color: $color-8;
					font-weight: 600;
				}
				.total {
					font-size: 24px;
					font-weight: 500;
				}
			}
		}
	}
}