@import '../abstracts/variables';
@import '../abstracts/mixins';

.product-page {


  .product-page-wrapper {
    padding: 50px;
    display: flex;

    .img-container {
      flex: 1;
      img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
      }
    }
    .info-container {
      flex: 1;
      padding: 0 50px;
      h1 {
        font-weight: 300;
      }

      p {
        margin: 20px 0px;
      }

      .price {
        font-weight: 100;
        font-size: 2rem;
      }

      .selected-color {
        margin-top: 20px;
        display: flex;
        align-items: center;

        .product-color {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-left: 10px;
        }

      }

      

      .filter-container {
        width: 60%;
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        .filter {
          display: flex;
          align-items: center;
          .filter-title {
            font-size: 20px;
            font-weight: 300;
          } 
          .filter-color {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin: 0px 5px;
            cursor: pointer;
            &:hover, &:focus, &:active {
              width: 25px;
              height: 25px;
            }
          }
          .filter-size {
            margin-left: 10px;
            padding: 5px;
          }
        }
      }

      .add-container {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .amount-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          .quantity {
            border: 1px solid $color-3;
            padding: 10px 15px;
            margin: 0 5px;
            cursor: default;
          }
        }
        button {
          padding: 15px;
          border: 2px solid $color-3;
          background-color: $color-8;
          cursor: pointer;
          font-weight: 500;

          &:hover {
            background-color: $color-3;
          }
        }
      }
    }
  }
}