$color-1: #15DEA5;
$color-2: rgb(237 175 188);
$color-3: #e36f87;
$color-4: rgb(210, 239, 250);
$color-5: grey;
$color-6: rgba(0,0,0,0.2);
$color-7: #c4c7e7;
$color-8: white;
$color-9: #116f9d;
$color-10: #1b5c7c;
$color-11: #829ae947;
$color-12: red;
$color-13: #518ead;
$color-14: #cacae9;
$color-black: rgb(46, 43, 43);
$color-fb: #3b5999;
$color-insta:#e4405f;
$color-twitter: #55acee;
$color-3dark: #f15171;