@import '../abstracts/variables';
@import '../abstracts/mixins';

.products {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
        flex: 1;
        margin: 5px;
        min-width: 280px;
        max-width: 325px;
        height: 350PX;
        @include flex-center;
        justify-content: center;
        background-color: $color-4;
        position: relative;
        
        img {
            height: 75%;
            z-index: 2;
            object-fit: contain;
            max-width: 90%;
        }

        .circle {
            color: white;
            margin-bottom: 20px;
        }

        .info {
            opacity: 0;
            @include sibling-overlap-top-left;
            background-color: $color-6;
            z-index: 3;
            @include flex-center;
            justify-content: center;
            transition: all 0.5s ease;
            &:hover {
                opacity: 1;
            }

            .icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: white;
                @include flex-center;
                justify-content: center;
                margin: 10px;
                transition: all 0.5s ease;
                cursor: pointer;
                &:hover {
                    background-color: white;
                    transform: scale(1.1);
                }
            }
        }
    }

}
